.required {
  color: red;
}

.icon-margin {
  margin-right: 10px;
}

.icon-text-margin {
  margin-left: 10px;
}

.containerDetails {
  border: 0.1em solid #000000; /* Borda com 1em de largura e cor branca */
  border-radius: 10px;
  padding: 2em; /* Espaçamento interno de 2em */
  margin: 2em; /* Espaçamento externo de 2em */
}
