<form
  class="form-horizontal containerDetails"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card">
    <div class="card-header">
      <h5 class="float-start">Atualizar Editora</h5>
    </div>
    <div class="card-body">
      <div class="mb-3 form-group">
        <label for="name" class="form-label">Nome: </label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="publisherDetails[0].nome"
          formControlName="name"
          [ngClass]="showInputCssError('name')"
        />

        <div>
          <label for="location" class="form-label">Estado: </label>
          <select
            class="form-select"
            aria-label="Default select example"
            id="location"
            formControlName="location"
            [ngClass]="showInputCssError('location')"
            [(ngModel)]="publisherDetails[0].estado"
          >
            <option *ngFor="let state of states" [value]="state.sigla">
              {{ state.nome }}
            </option>
          </select>
        </div>
        <br />
        <div class="card-footer">
          <button
            type="submit"
            class="btn btn-success float-start"
            [disabled]="form.invalid"
          >
            Enviar
          </button>

          <button
            type="button"
            (click)="cancelUpdate()"
            class="btn btn-danger float-end"
          >
            Voltar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
