<div class="row">
  <div class="col-sm" id="list-tab" role="tablist">
    <div class="text-center">
      <h5>Livros</h5>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" (click)="newBook()">
        Adicionar Livro
      </button>
      <button class="btn btn-primary" (click)="listBooks()">
        Listar Livros
      </button>
      <button class="btn btn-primary" (click)="booksRelations()">
        Relatório de Livros
      </button>
    </div>
  </div>
</div>
