/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

body {
  background-color: #f2f2f2;
}

body {
  font-family: Arial, sans-serif; /* Fonte padrão */
  margin: 0;
  padding: 0;
}

h1 {
  color: #333; /* Cor do título preto */
}

p {
  color: #555; /* Cor do texto cinza escuro */
}
