<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <div>
      <h2 class="text-start">Login</h2>
    </div>
    <br />
    <label for="email" class="form-label">Email:</label>
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      placeholder="exemplo@email.com"
      formControlName="email"
      [ngClass]="showInputCssError('email')"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Senha</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      id="password"
      placeholder="********"
      autocomplete="current-password"
      [ngClass]="showInputCssError('password')"
    />
  </div>

  <button type="submit" class="btn btn-success" [disabled]="form.invalid">
    Login
  </button>
</form>

<!-- <div class="d-flex align-items-center">
  <span> oi</span>
  <span>eduardo</span>
  <span class="p-4">ex fumante</span>
  <span>parabens</span>
</div>

<button class="btn btn-lg btn-outline-primary" (click)="open()">
  Launch demo modal
</button> -->
