.custom-container {
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 0.1em solid #000000;
  padding: 1.5em;
  margin: 0 auto; /* Centralize o container na página */
  margin-top: 7em;
  max-width: 50em;
}
