<div *ngIf="booksDetails" ngClass="containerDetails">
  <h5>Detalhes do Livro</h5>
  ID: {{ booksDetails[0].id }} <br />
  Titulo: {{ booksDetails[0].titulo }} <br />
  Publicação: {{ booksDetails[0].data }} <br />
  Autor: {{ booksDetails[0].autor }} <br />
  Editora: {{ booksDetails[0].editora }}

  <div
    style="display: flex; padding-top: 10px"
    class="d-flex justify-content-between"
  >
    <button (click)="onEdit()" class="btn btn-primary" style="width: 5.5em">
      Editar
    </button>

    <button (click)="onDelete()" class="btn btn-danger" style="width: 5.5em">
      Apagar
    </button>
  </div>
</div>
