<div class="card">
  <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-body">
      <div class="row">
        <div class="mb-3 form-group">
          <label for="title" class="form-label"
            >Titulo: <span class="required">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="title"
            formControlName="title"
            [ngClass]="showInputCssError('title')"
          />

          <label for="publiYear" class="form-label"
            >Ano de publicação: <span class="required">*</span></label
          >
          <input
            type="date"
            class="form-control col-5"
            id="publiYear"
            formControlName="publiYear"
            [ngClass]="showInputCssError('publiYear')"
          />
        </div>

        <div class="col-sm-6 text-center">
          <label for="authorId" class="form-label"
            >Autor do Livro: <span class="required">*</span></label
          >
          <select
            class="form-select"
            aria-label="Default select example"
            id="authorId"
            formControlName="authorId"
            [ngClass]="showInputCssError('authorId')"
          >
            <option *ngFor="let author of authors" [value]="author.id">
              {{ author.nome }}
            </option>
          </select>
        </div>

        <div class="col-sm-6 text-center">
          <label for="publisherId" class="form-label"
            >Editora do Livro: <span class="required">*</span></label
          >
          <select
            class="form-select"
            aria-label="Default select example"
            id="publisherId"
            formControlName="publisherId"
            [ngClass]="showInputCssError('publisherId')"
          >
            <option *ngFor="let publisher of publishers" [value]="publisher.id">
              {{ publisher.nome }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <button type="button" (click)="cancelSubmit()" class="btn btn-danger">
        Voltar
      </button>
      {{ "" }}
      <button type="submit" class="btn btn-success" [disabled]="form.invalid">
        Enviar
      </button>
    </div>
  </form>
</div>
