<div class="row">
  <div class="col-sm" id="list-tab" role="tablist">
    <div class="text-center">
      <h5>Autores</h5>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <!-- <button class="btn btn-primary" (click)="newAuthor()">
        Adicionar Autor
      </button> -->
      <button
        type="button"
        class="btn btn-primary"
        (click)="newAuthor(template)"
      >
        Adicionar Autor
      </button>
      <ng-template #template let-modal>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Novo Autor</h4>
          <button
            type="button"
            class="btn-close close pull-right"
            aria-label="Close"
            (click)="modalRef?.hide()"
          >
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-authors-create
            (formSubmitted)="modalRef?.hide()"
            (cancelClicked)="modalRef?.hide()"
          ></app-authors-create>
        </div>
      </ng-template>

      <button class="btn btn-primary" (click)="listAuthor()">
        Listar Autores
      </button>
    </div>
  </div>
</div>
