.form-container {
  max-width: 30em; /* Defina a largura máxima em em */
  margin: 0 auto; /* Centralize o container na página */
  padding: 1.5em; /* Adicione algum espaçamento interno ao container usando em */
  background-color: #f2f2f2; /* Cor de fundo cinza */
  border-radius: 10px; /* Raio da borda */
  border: 1px solid #ccc; /* Borda sólida cinza */
}

.required {
  color: red;
}

.icon-margin {
  margin-right: 10px;
}

.icon-text-margin {
  margin-left: 10px;
}
