<div class="mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Bem-vindo ao Sistema de Biblioteca</h1>
    <p class="lead">
      Este é um sistema de gerenciamento de biblioteca onde você pode:
    </p>
    <ul>
      <li>Registrar novos livros</li>
      <li>Gerenciar empréstimos</li>
      <li>Visualizar catálogo de livros disponíveis</li>
      <li>E muito mais...</li>
    </ul>
  </div>
</div>

<button type="button" class="btn btn-primary" (click)="openModal(template)">
  Create template modal
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">This is a modal.</div>
</ng-template>
